<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="img/wallet.png">
		<title>uWallet</title>
	</head>
	<body>
		<div class="navbar">
     <a href="home.html">Home</a>
     <a href="carteira.html">Carteira</a>
     <a href="conta.html">Minha Conta</a>
		</div>

		<div class="main">
      <div id="secao" class="box">
        <div>
            <h3>Carteira</h3>
            <div class="linha"></div>
        </div>

        <a id="novo-cartao" class="botao" href="cartao.html">+ Novo Cartão</a>

        <table>
          <thead>
            <th colspan="6">Cartões</th>
          </thead>
          <tr>
            <th>Banco</th>
            <th>Vencimento da Fatura</th>
            <th>Débito Automático</th>
            <th>Saldo</th>
            <th colspan="2">Ações</th>
          </tr>
          <tr>
            <td>Banco do Brasil</td>
            <td>15/01/2018</td>
            <td>Não</td>
            <td>R$5000,00</td>
            <td>
              <a href="" id="editar" class="acao">Editar</a>
              <a href="" id="remover" class="acao">Remover</a>
            </td>
          </tr>
        </table>

        <a id="nova-receita" class="botao" href="">+ Nova Receita</a>  
      </div>
		</div>
	</body>
</html>