<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="img/wallet.png">
		<title>uWallet</title>
	</head>
	<body>
		<div class="navbar">
     <a href="home.html">Home</a>
     <a href="carteira.html">Carteira</a>
     <a href="conta.html">Minha Conta</a>
		</div>

		<div class="main">
      <div id="secao" class="box">
        <div>
          <h3>Minha Conta</h3>
          <div class="linha"></div>
        </div>

        <form action="">
          <fieldset>
            <label for="senha">Senha Atual:</label>
            <input id="senha" class="input" type="text" name="senha"><br><br>

            <label  for="nova">Nova Senha:</label>
            <input id="nova" class="input" type="text" name="nova"><br><br>

            <label for="novamente">Repita Novamente:</label>
            <input id="novamente" class="input" type="text" name="novamente">

            <br><br>
            <input class="botao" type="reset" value="Cancelar">
            <input class="botao" type="submit" value="Salvar">
          </fieldset>
        </form>
      </div>
		</div>
	</body>
</html>