<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="shortcut icon" href="img/wallet.png">
		<title>uWallet</title>
	</head>
	<body>
		<div class="navbar">
     <a href="#home">Home</a>
     <a href="carteira.html">Carteira</a>
     <a href="conta.html">Minha Conta</a>
		</div>

		<div class="main">
      <div id="header" class="box">
        <h1 id="saldo">Seu saldo é de R$1000,00</h1>
        <h4 id="fatura">Próxima Fatura Vence: 15/11/2017</h4>
      </div>

      <div id="action" class="box">
        <a id="nova-despesa" class="botao" href="despesa.html">+ Nova</a>
      
        <div class="dropdown">
          <button class="botao">Filtros</button>
          <div class="dropdown-content">
            <a href="#">Viagens</a>
            <a href="#">Comida</a>
            <a href="#">Combustível</a>
          </div>
        </div>
      </div>

      <div id="scrollbox" class="box">
        <ul>
          <li class="item">
            <div>
              <img src="img/food.png">
              <h3 id="data">12/11/2017</h3>
              <h3>Lanche na Faculdade</h3>
            </div>
            <p>R$5,00</p>
          </li>
        </ul>
      </div>  
		</div>
	</body>
</html>